@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Hoves';
  src: url('/fonts/TT Hoves Pro Trial Regular.ttf');
}

.body {
  @apply font-secondary;
}
